* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.inner {
    margin-top: 50px;
    width: 55%;
    height: 550px;
    float: right;
    background-color: #fdfdfd;
    padding: 50px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 0 20px #000000b3;
    border-style: solid;
    border-color: black;
    padding-bottom: 10px;
}

.inner-container h1 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 800;
    font-family: sans-serif;
}

.text {
    font-size: 17px;
    color: #545454;
    line-height: 30px;
    text-align: justify;
    padding-top: 0;
    font-family: sans-serif;
}

@media screen and (max-width:1200px) {
    .inner-container {
        padding: 80px;
    }
}

@media screen and (max-width:1000px) {
    .about-section {
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-container {
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .about-section {
        padding: 0;
    }
    .inner-container {
        padding: 60px;
    }
}